{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<div>
	<div class="logo" style="top: 25px;"><a href="/">Ziramba</a>
 	</div>
	<div class='row'>
		<div class='col-sm-20 col-sm-offset-3'>
			<h1>Password Reset</h1>
			<p class='lead'>Reset your password using your email below.</p>
			<form method="post" action=".">
			  {% csrf_token %} 
			    {{ form|crispy }}

			  <input class='btn btn-primary' type="submit" value="{% trans 'Reset' %}" />
			</form>
		</div>
	</div>

{% endblock %}


