
{% load staticfiles %}

{% block animation %}
 <!-- Start WOWSlider.com BODY section -->
  <div id="wowslider-container">
  <div class="ws_images"><ul>
  <li><a href="/"><img src="{% static 'images/slide1new.jpg' %}" alt="Need to put clear pictures to this slideshow" title="" id="wows_0"/></a></li>
  <li><a href="/"><img src="{% static 'images/slide2new.jpg' %}" alt="Need to put clear pictures to this slideshow" title="You can add description to slides!" id="wows_1"/></a></li>
  <li><a href="/"><img src="{% static 'images/slide3new.jpg' %}" alt="Need to put clear pictures to this slideshow" title="" id="wows_2"/></a></li>
  </ul></div>
  <div class="ws_bullets"><div>
  <a href="#" title=""><img src="{% static 'images/slide11new.jpg' %}" alt="Need to put clear pictures to this slideshow"/>1</a>
  <a href="#" title="You can add description to slides!"><img src="{% static 'images/slide22new.jpg' %}" alt="Need to put clear pictures to this slideshow"/>2</a>
  <a href="#" title=""><img src="{% static 'images/slide33new.jpg' %}" alt="Need to put clear pictures to this slideshow"/>3</a>
  </div></div>
    <a href="#" class="ws_frame"></a>
    <div class="ws_shadow"></div>
  </div>
 {% endblock %}
  <!-- End WOWSlider.com BODY section -->