{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Ziramba</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Ziramba shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block head_title %}Ziramba Store {% endblock %}</title>

{% include 'head_css.html' %}

</head>

<body>

<div class="left_side_bar">

  <h3>Consumer Behaviour</h3>
  <ol>
    <li><b>Trending Items</b></li>
    <div class="featured_sliders_item">
                    <div class="border_active"></div>
                    <div class="product_item discount d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="{% static 'images/featured_1.png' %}" alt=""></div>
                      <div class="product_content">
                        <div class="product_price discount">$225<span>$300</span></div>
                        <div class="product_name"><div><a href="product.html">Huawei MediaPad...</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <input type="radio" checked name="product_color" style="background:#b19c83">
                            <input type="radio" name="product_color" style="background:#000000">
                            <input type="radio" name="product_color" style="background:#999999">
                          </div>
                          <button class="product_cart_button">Add to Cart</button>
                        </div>
                      </div>
                      <div class="product_fav"><i class="fas fa-heart"></i></div>
                      <ul class="product_marks">
                        <li class="product_mark product_discount">-25%</li>
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

    <li><b>Recommended Items</b></li>
    <div class="featured_sliders_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="{% static 'images/featured_2.png' %}" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$379</div>
                        <div class="product_name"><div><a href="product.html">Apple iPod shuffle</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <input type="radio" checked name="product_color" style="background:#b19c83">
                            <input type="radio" name="product_color" style="background:#000000">
                            <input type="radio" name="product_color" style="background:#999999">
                          </div>
                          <button class="product_cart_button active">Add to Cart</button>
                        </div>
                      </div>
                      <div class="product_fav"><i class="fas fa-heart"></i></div>
                      <ul class="product_marks">
                        <li class="product_mark product_discount"></li>
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

  </ol>
</div>

<div class="super_container">
  
  <!-- Header -->
  
  <header class="header">

    <!-- Top Bar -->
{% include 'navbar.html' %}


    <!-- Header Main -->

    <div class="header_main">
      <div class="container">
        <div class="row">

          <!-- Logo -->
          <div class="col-lg-2 col-sm-3 col-3 order-1">
            <div class="logo_container">
              <div class="logo"><a href="#">Ziramba</a></div>
            </div>
          </div>

          <!-- Search -->
          <div class="col-lg-8 col-12 order-lg-2 order-3 text-lg-left text-right">
            <div class="header_search">
              <div class="header_search_content">
                <div class="header_search_form_container">
                  <form action="{% url 'product_list'%}" class="header_search_form clearfix">
                    <input type="search" required="required" name="q" class="header_search_input" placeholder="Search for products...">
                    <div class="custom_dropdown">
                      <div class="custom_dropdown_list">
                        <span class="custom_dropdown_placeholder clc">All Categories</span>
                        <i class="fas fa-chevron-down"></i>
                        <ul class="custom_list clc">
                          <li><a class="clc" href="#">All Categories</a></li>
                          <li><a class="clc" href="#">Construction Materials</a></li>
                          <li><a class="clc" href="#">Home Decor</a></li>
                          <li><a class="clc" href="#">Electronic Appliances</a></li>
                          <li><a class="clc" href="#">Art and Decorations</a></li>
                        </ul>
                      </div>
                    </div>
                    <button type="submit" class="header_search_button trans_300" value="Submit"><img src="{% static 'images/search.png' %}" alt=""></button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- Wishlist -->
          <div class="col-lg-2 col-9 order-lg-3 order-2 text-lg-left text-right">
            <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
              

              <!-- Cart -->
              <div class="cart">
                <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                  <div class="cart_icon">
                    <img src="{% static 'images/cart.png' %}" alt="">
                    <div class="cart_count"><span>10</span></div>
                  </div>
                  <div class="cart_content">
                    <div class="cart_text"><a href="#">Cart</a></div>
                    <div class="cart_price">$85</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Main Navigation -->

    <nav class="main_nav">
      <div class="container">
        <div class="row">
          <div class="col">
            
            <div class="main_nav_content d-flex flex-row">

              <!-- Categories Menu -->

              <div class="cat_menu_container">
                <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                  <div class="cat_burger"><span></span><span></span><span></span></div>
                  <div class="cat_menu_text">categories</div>
                </div>

                <ul class="cat_menu">
                  <li><a href="#">Construction Materials <i class="fas fa-chevron-right ml-auto"></i></a></li>
                  <li class="hassubs">
                    <a href="#">Home Decor <i class="fas fa-chevron-right"></i></a>
                    <ul>
                      <li class="hassubs">
                        <a href="#">Furniture<i class="fas fa-chevron-right"></i></a>
                        <ul>
                          <li><a href="#">Bookcase<i class="fas fa-chevron-right"></i></a></li>
                          <li><a href="#">Drawer<i class="fas fa-chevron-right"></i></a></li>
                          <li><a href="#">Cabinetry<i class="fas fa-chevron-right"></i></a></li>
                          <li><a href="#">Dressers<i class="fas fa-chevron-right"></i></a></li>
                        </ul>
                      </li>
                      <li><a href="#">Bed Materials<i class="fas fa-chevron-right"></i></a></li>
                      <li><a href="#">Kitchen Tools<i class="fas fa-chevron-right"></i></a></li>
                    </ul>
                  </li>
                  <li class="hassubs">
                    <a href="#">Electronic Appliances <i class="fas fa-chevron-right"></i></a>
                    <ul>
                      <li class="hassubs">
                        <a href="#">Microwave oven<i class="fas fa-chevron-right"></i></a>
                        <ul>
                          <li><a href="#">Solo microwave oven<i class="fas fa-chevron-right"></i></a></li>
                          <li><a href="#">Grill microwave oven<i class="fas fa-chevron-right"></i></a></li>
                          <li><a href="#">Convection microwave oven<i class="fas fa-chevron-right"></i></a></li>
                        </ul>
                      </li>
                      <li><a href="#">Refrigerators<i class="fas fa-chevron-right"></i></a></li>
                      <li><a href="#">Vacuum cleaner<i class="fas fa-chevron-right"></i></a></li>
                      <li><a href="#">Gas fireplace<i class="fas fa-chevron-right"></i></a></li>
                      <li><a href="#">Smart Phones<i class="fas fa-chevron-right"></i></a></li>
                    </ul>
                  </li>
                  <li><a href="#">Art and Decorations<i class="fas fa-chevron-right"></i></a></li>
                </ul>
              </div>

              <!-- Main Nav Menu -->

              <div class="main_nav_menu ml-auto">
                <ul class="standard_dropdown main_nav_dropdown">
                  <li><a href="index.html">Home<i class="fas fa-chevron-down"></i></a></li>
                  <li><a a href="shop.html">Shop<i class="fas fa-chevron-down"></i></a></li>
                  <li><a href="cart.html">Cart<i class="fas fa-chevron-down"></i></a></li>
                  <li><a href="blog.html">Blog<i class="fas fa-chevron-down"></i></a></li>
                  <li><a href="contact.html">Contact<i class="fas fa-chevron-down"></i></a></li>
                </ul>
              </div>

              <!-- Menu Trigger -->

              <div class="menu_trigger_container ml-auto">
                <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                  <div class="menu_burger">
                    <div class="menu_trigger_text">menu</div>
                    <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </nav>
    
    <!-- Menu -->

    <div class="page_menu">
      <div class="container">
        <div class="row">
          <div class="col">
            
            <div class="page_menu_content">
              
              <div class="page_menu_search">
                <form action="#">
                  <input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
                </form>
              </div>
              <ul class="page_menu_nav">
                <li class="page_menu_item has-children">
                  <a href="#">Language<i class="fa fa-angle-down"></i></a>
                  <ul class="page_menu_selection">
                    <li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Italian<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Spanish<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Japanese<i class="fa fa-angle-down"></i></a></li>
                  </ul>
                </li>
                <li class="page_menu_item has-children">
                  <a href="#">Currency<i class="fa fa-angle-down"></i></a>
                  <ul class="page_menu_selection">
                    <li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
                  </ul>
                </li>
                <li class="page_menu_item">
                  <a href="#">Home<i class="fa fa-angle-down"></i></a>
                </li>
                <li class="page_menu_item has-children">
                  <a href="#">Super Deals<i class="fa fa-angle-down"></i></a>
                  <ul class="page_menu_selection">
                    <li><a href="#">Super Deals<i class="fa fa-angle-down"></i></a></li>
                    <li class="page_menu_item has-children">
                      <a href="#">Menu Item<i class="fa fa-angle-down"></i></a>
                      <ul class="page_menu_selection">
                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                      </ul>
                    </li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                  </ul>
                </li>
                <li class="page_menu_item has-children">
                  <a href="#">Featured Brands<i class="fa fa-angle-down"></i></a>
                  <ul class="page_menu_selection">
                    <li><a href="#">Featured Brands<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                  </ul>
                </li>
                <li class="page_menu_item has-children">
                  <a href="#">Trending Styles<i class="fa fa-angle-down"></i></a>
                  <ul class="page_menu_selection">
                    <li><a href="#">Trending Styles<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                  </ul>
                </li>
                <li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a></li>
                <li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>
              </ul>
              
              <div class="menu_contact">
                <div class="menu_contact_item"><div class="menu_contact_icon"><img src="{% static 'images/phone_white.png' %}" alt=""></div>+38 068 005 3570</div>
                <div class="menu_contact_item"><div class="menu_contact_icon"><img src="{% static 'images/mail_white.png' %}" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>
  
  <!-- Banner -->

  <div class="banner">
    <div class="banner_background" style="background-image:url(images/banner_background.jpg)"></div>
    <div class="container fill_height">
      <div class="row fill_height">
        <div class="banner_product_image"><img src="{% static 'images/banner_product.png' %}" alt=""></div>
        <div class="col-lg-5 offset-lg-4 fill_height">
          <div class="banner_content">
            
            <div class="banner_price"><span>$530</span>$460</div>
            <div class="banner_product_name">Apple Iphone 6s</div>
            <div class="button banner_button"> 

            

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Characteristics -->

  <div class="characteristics">
    <div class="container">
      <div class="row">

      
            {% block content %}
            

            {% endblock %}
        </div>
   
      </div>
    </div>
  </div>

 
  <!-- Footer -->

  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 footer_col">
          <div class="footer_column footer_contact">
            <div class="logo_container">
              <div class="logo"><a href="#">Ziramba</a></div>
            </div>
            <div class="footer_title">Got Question? Call Us 24/7</div>
            <div class="footer_phone">+38 068 005 3570</div>
            <div class="footer_contact_text">
              <p>17 Princess Road, London</p>
              <p>Grester London NW18JR, UK</p>
            </div>
            <div class="footer_social">
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#"><i class="fab fa-google"></i></a></li>
                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-2 offset-lg-2">
          <div class="footer_column">
            <div class="footer_title">Find it Fast</div>
            <ul class="footer_list">
              <li><a href="#">Computers & Laptops</a></li>
              <li><a href="#">Cameras & Photos</a></li>
              <li><a href="#">Hardware</a></li>
              <li><a href="#">Smartphones & Tablets</a></li>
              <li><a href="#">TV & Audio</a></li>
            </ul>
            <div class="footer_subtitle">Gadgets</div>
            <ul class="footer_list">
              <li><a href="#">Car Electronics</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="footer_column">
            <ul class="footer_list footer_list_2">
              <li><a href="#">Video Games & Consoles</a></li>
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Cameras & Photos</a></li>
              <li><a href="#">Hardware</a></li>
              <li><a href="#">Computers & Laptops</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2">
          <div class="footer_column">
            <div class="footer_title">Customer Care</div>
            <ul class="footer_list">
              <li><a href="#">My Account</a></li>
              <li><a href="#">Order Tracking</a></li>
              <li><a href="#">Wish List</a></li>
              <li><a href="#">Customer Services</a></li>
              <li><a href="#">Returns / Exchange</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Product Support</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright -->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col">
          
          <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
            <div class="copyright_content"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with passion <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.ziramba.com" target="_blank">Ziramba Team</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
            <div class="logos ml-sm-auto">
              <ul class="logos_list">
                <li><a href="#"><img src="{% static 'images/logos_1.png' %}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'images/logos_2.png' %}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'images/logos_3.png' %}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'images/logos_4.png' %}" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="right_side_bar">

  <h2>GOOGLE ADS HERE!!!</h2>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/slick-1.8.0/slick.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>


    {% include "javascript.html" %}
    
    <script type="text/javascript">
    $(document).ready(function() {
      {% block jquery%}
      {% endblock %}
    });
    </script>

</body>

</html>