{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title %}Welcome | {{ block.super }}{% endblock %}


<style>
{% block style %}
	.navbar-static-top {
		margin-bottom: 0px !important;
	}
	.jumbotron {
		background-color:#C0C0C0;
		color: #FFF;
	}

{% endblock %}
</style>
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block navmenu %}
<div class="header_main">
      <div class="container">
        <div class="row">

          <!-- Logo -->
          <div class="col-lg-2 col-sm-3 col-3 order-1">
            <div class="logo_container">
              <div class="logo"><a href="/">Ziramba</a></div>
            </div>
          </div>

          <!-- Search -->
          <div class="col-lg-8 col-12 order-lg-2 order-3 text-lg-left text-right">
            <div class="header_search">
              <div class="header_search_content">
                <div class="header_search_form_container">
                  <form action="{% url 'product_list'%}" class="header_search_form clearfix">
                    <input type="search" required="required" name="q" class="header_search_input" placeholder="Search for products...">
                    <div class="custom_dropdown">
                      <div class="custom_dropdown_list">
                        <span class="custom_dropdown_placeholder clc"><li><a class="clc" href="#">All Categories</a></li></span>
                        <i class="fas fa-chevron-down"></i>
                        <ul class="custom_list clc">
                         
                          <li><a class="clc" href="{% url 'const_detail' %}">Construction Materials</a></li>
                          <li><a class="clc" href="{% url 'deco_detail' %}">Home Decor</a></li>
                          <li><a class="clc" href="{% url 'elect_detail' %}">Electronic Appliances</a></li>
                          <li><a class="clc" href="{% url 'art_detail' %}">Art and Decorations</a></li>
                        </ul>
                      </div>
                    </div>
                    <button type="submit" class="header_search_button trans_300" value="Submit"><img src="{% static 'images/search.png' %}" alt=""></button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- Wishlist -->
          <div class="col-lg-2 col-9 order-lg-3 order-2 text-lg-left text-right">
            <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
              

              
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Main Navigation -->

    <nav class="main_nav">
      <div class="container">
        <div class="row">
          <div class="col">
            
            <div class="main_nav_content d-flex flex-row">

              <!-- Categories Menu -->

              <div class="cat_menu_container">
                <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                  <div class="cat_burger"><span></span><span></span><span></span></div>
                  <div class="cat_menu_text">categories</div>
                </div>

                <ul class="cat_menu">
                  <li><a href="#">Construction Materials <i class="fas fa-chevron-right ml-auto"></i></a></li>
                  <li class="hassubs">
                    <a href="{% url 'deco_detail' %}">Home Decor <i class="fas fa-chevron-right"></i></a>
                    <ul>
                      <li class="hassubs">
                        <a href="#">Furniture<i class="fas fa-chevron-right"></i></a>
                        <ul>
                          <li><a href="#">Bookcase<i class="fas fa-chevron-right"></i></a></li>
                          <li><a href="#">Drawer<i class="fas fa-chevron-right"></i></a></li>
                          <li><a href="#">Cabinetry<i class="fas fa-chevron-right"></i></a></li>
                          <li><a href="#">Dressers<i class="fas fa-chevron-right"></i></a></li>
                        </ul>
                      </li>
                      <li><a href="#">Bed Materials<i class="fas fa-chevron-right"></i></a></li>
                      <li><a href="#">Kitchen Tools<i class="fas fa-chevron-right"></i></a></li>
                    </ul>
                  </li>
                  <li class="hassubs">
                    <a href="{% url 'elect_detail' %}">Electronic Appliances <i class="fas fa-chevron-right"></i></a>
                    <ul>
                      <li class="hassubs">
                        <a href="#">Microwave oven<i class="fas fa-chevron-right"></i></a>
                        <ul>
                          <li><a href="#">Solo microwave oven<i class="fas fa-chevron-right"></i></a></li>
                          <li><a href="#">Grill microwave oven<i class="fas fa-chevron-right"></i></a></li>
                          <li><a href="#">Convection microwave oven<i class="fas fa-chevron-right"></i></a></li>
                        </ul>
                      </li>
                      <li><a href="#">Refrigerators<i class="fas fa-chevron-right"></i></a></li>
                      <li><a href="#">Vacuum cleaner<i class="fas fa-chevron-right"></i></a></li>
                      <li><a href="#">Gas fireplace<i class="fas fa-chevron-right"></i></a></li>
                      <li><a href="#">Smart Phones<i class="fas fa-chevron-right"></i></a></li>
                    </ul>
                  </li>
                  <li><a href="#">Art and Decorations<i class="fas fa-chevron-right"></i></a></li>
                </ul>
              </div>

              <!-- Main Nav Menu -->

              <div class="main_nav_menu ml-auto">
                <ul class="standard_dropdown main_nav_dropdown">
                  <li><a href="/">Home<i class="fas fa-chevron-down"></i></a></li>
                  <li><a href="/products">Shop<i class="fas fa-chevron-down"></i></a></li>
                  <li><a href="/about">About Us<i class="fas fa-chevron-down"></i></a></li>
                   <li><a href="/blog">Blog<i class="fas fa-chevron-down"></i></a></li>
                  <li><a href="/contact">Contact<i class="fas fa-chevron-down"></i></a></li>
                </ul>
              </div>

              <!-- Menu Trigger -->

              <div class="menu_trigger_container ml-auto">
                <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                  <div class="menu_burger">
                    <div class="menu_trigger_text">menu</div>
                    <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </nav>
    
    <!-- Menu -->

    <div class="page_menu">
      <div class="container">
        <div class="row">
          <div class="col">
            
            <div class="page_menu_content">
              
              <div class="page_menu_search">
                <form action="#">
                  <input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
                </form>
              </div>
              <ul class="page_menu_nav">
                <li class="page_menu_item has-children">
                  <a href="#">Language<i class="fa fa-angle-down"></i></a>
                  <ul class="page_menu_selection">
                    <li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Italian<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Spanish<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Japanese<i class="fa fa-angle-down"></i></a></li>
                  </ul>
                </li>
                <li class="page_menu_item has-children">
                  <a href="#">Currency<i class="fa fa-angle-down"></i></a>
                  <ul class="page_menu_selection">
                    <li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
                  </ul>
                </li>
                <li class="page_menu_item">
                  <a href="#">Home<i class="fa fa-angle-down"></i></a>
                </li>
                <li class="page_menu_item has-children">
                  <a href="#">Super Deals<i class="fa fa-angle-down"></i></a>
                  <ul class="page_menu_selection">
                    <li><a href="#">Super Deals<i class="fa fa-angle-down"></i></a></li>
                    <li class="page_menu_item has-children">
                      <a href="#">Menu Item<i class="fa fa-angle-down"></i></a>
                      <ul class="page_menu_selection">
                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                      </ul>
                    </li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                  </ul>
                </li>
                <li class="page_menu_item has-children">
                  <a href="#">Featured Brands<i class="fa fa-angle-down"></i></a>
                  <ul class="page_menu_selection">
                    <li><a href="#">Featured Brands<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                  </ul>
                </li>
                <li class="page_menu_item has-children">
                  <a href="#">Trending Styles<i class="fa fa-angle-down"></i></a>
                  <ul class="page_menu_selection">
                    <li><a href="#">Trending Styles<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                    <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                  </ul>
                </li>
                <li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a></li>
                <li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>
              </ul>
              
              <div class="menu_contact">
                <div class="menu_contact_item"><div class="menu_contact_icon"><img src="{% static 'images/phone_white.png' %}" alt=""></div>+38 068 005 3570</div>
                <div class="menu_contact_item"><div class="menu_contact_icon"><img src="{% static 'images/mail_white.png' %}" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block jumbotron %}
		{% if featured_image %}
			<div class="jumbotron">
				<div class="container">
					<div class="row">
						
						
					</div>
				</divp>
			</div>
		{% endif %}
	{% endblock %}
	

	{% block content %}
		{% if products %}
			<h3> Products  </h3>
			<div class="grid">
  <div class ="grid-header">Home Decor
  </div>
  <div class="module">
    <section class="products">

    <!-- It's likely you'll need to link the card somewhere. You could add a button in the info, link the titles, or even wrap the entire card in an <a href="..."> -->
{% for product in home_products %}
    <div class="product-card">
    	<div class="product_border"></div>
      <div class="product-image">
      {% if product.get_image_url %}
       <a href="{{product.get_absolute_url}}"> <img src="{{product.get_image_url}}" alt="..." ></a>
       {% endif %}
      </div>
      <div class="product-info">
        <h5><a href="{{product.get_absolute_url}}">{{product.title}}</a></h5>
        <h6>Ugx {{product.variation_set.first.price}}</h6>
      </div>
    </div>

{% endfor %}

   
    </section>
  </div>
  <div class ="grid-header">Construction Materials
  </div>
  <div class="module"><section class="products">

    <!-- It's likely you'll need to link the card somewhere. You could add a button in the info, link the titles, or even wrap the entire card in an <a href="..."> -->

    {% for product in const_products %}
    <div class="product-card">
    	<div class="product_border"></div>
      <div class="product-image">
      {% if product.get_image_url %}
       <a href="{{product.get_absolute_url}}"> <img src="{{product.get_image_url}}" alt="..." ></a>
       {% endif %}
      </div>
      <div class="product-info">
        <h5><a href="{{product.get_absolute_url}}">{{product.title}}</a></h5>
        <h6>Ugx {{product.variation_set.first.price}}</h6>
      </div>
    </div>

{% endfor %}


    </section></div>

    <div class ="grid-header">Electronics
  </div>
  <div class="module"><section class="products">

    <!-- It's likely you'll need to link the card somewhere. You could add a button in the info, link the titles, or even wrap the entire card in an <a href="..."> -->

    {% for product in elect_products %}
    <div class="product-card">
    	<div class="product_border"></div>
      <div class="product-image">
      {% if product.get_image_url %}
       <a href="{{product.get_absolute_url}}"> <img src="{{product.get_image_url}}" alt="..." ></a>
       {% endif %}
      </div>
      <div class="product-info">
        <h5><a href="{{product.get_absolute_url}}">{{product.title}}</a></h5>
        <h6>Ugx {{product.variation_set.first.price}}</h6>
      </div>
    </div>

{% endfor %}


    </section>
</div>

  <div class="module"></div>
  <div class ="grid-header">Smartphones
  </div>
   <div class="module"><section class="products">

    <!-- It's likely you'll need to link the card somewhere. You could add a button in the info, link the titles, or even wrap the entire card in an <a href="..."> -->

    {% for product in smart_products %}
    <div class="product-card">
    	<div class="product_border"></div>
      <div class="product-image">
      {% if product.get_image_url %}
       <a href="{{product.get_absolute_url}}"> <img src="{{product.get_image_url}}" alt="..." ></a>
       {% endif %}
      </div>
      <div class="product-info">
        <h5><a href="{{product.get_absolute_url}}">{{product.title}}</a></h5>
        <h6>Ugx {{product.variation_set.first.price}}</h6>
      </div>
    </div>

{% endfor %}


    </section>
</div>


  <div class="module"></div>

</div>
		{% endif %}

	{% endblock %}

	{% block animation %}
		<!-- Banner -->

  <div class="banner">

  {% include 'animation.html' %}
  </div> 
  
	{% endblock %}


	{% block grid %}


<!--  Grid Layout -->



<!-- gridlayout -->
	{% endblock %}

	{% block trends %}
	<!-- Trends -->

	<div class="trends">
		<div class="trends_background" style="background-image:url({% static 'images/trends_background.jpg' %})"></div>
		<div class="trends_overlay"></div>
		<div class="container">
			<div class="row">

				<!-- Trends Content -->
				<div class="col-lg-3">
					<div class="trends_container">
						<h2 class="trends_title">Trends 2018</h2>
						<div class="trends_text"><p>Shop the trending products for 2018 selected by Ziramba Team.</p></div>
						<div class="trends_slider_nav">
							<div class="trends_prev trends_nav"><i class="fas fa-angle-left ml-auto"></i></div>
							<div class="trends_next trends_nav"><i class="fas fa-angle-right ml-auto"></i></div>
						</div>
					</div>
				</div>

				<!-- Trends Slider -->
				<div class="col-lg-9">
					<div class="trends_slider_container">

						<!-- Trends Slider -->

						<div class="owl-carousel owl-theme trends_slider">

							<!-- Trends Slider Item -->
							<div class="owl-item">
								<div class="trends_item is_new">
									<div class="trends_image d-flex flex-column align-items-center justify-content-center"><img src="{% static 'images/trends_1.jpg' %}" alt=""></div>
									<div class="trends_content">
										<div class="trends_category"><a href="#">Smartphones</a></div>
										<div class="trends_info clearfix">
											<div class="trends_name"><a href="product.html">Jump White</a></div>
											<div class="trends_price">$379</div>
										</div>
									</div>
									<ul class="trends_marks">
										<li class="trends_mark trends_discount">-25%</li>
										<li class="trends_mark trends_new">new</li>
									</ul>
									<div class="trends_fav"><i class="fas fa-heart"></i></div>
								</div>
							</div>

							<!-- Trends Slider Item -->
							<div class="owl-item">
								<div class="trends_item">
									<div class="trends_image d-flex flex-column align-items-center justify-content-center"><img src="{% static 'images/trends_2.jpg' %}" alt=""></div>
									<div class="trends_content">
										<div class="trends_category"><a href="#">Smartphones</a></div>
										<div class="trends_info clearfix">
											<div class="trends_name"><a href="product.html">Samsung Charm...</a></div>
											<div class="trends_price">$379</div>
										</div>
									</div>
									<ul class="trends_marks">
										<li class="trends_mark trends_discount">-25%</li>
										<li class="trends_mark trends_new">new</li>
									</ul>
									<div class="trends_fav"><i class="fas fa-heart"></i></div>
								</div>
							</div>

							<!-- Trends Slider Item -->
							<div class="owl-item">
								<div class="trends_item is_new">
									<div class="trends_image d-flex flex-column align-items-center justify-content-center"><img src="{% static 'images/trends_3.jpg' %}" alt=""></div>
									<div class="trends_content">
										<div class="trends_category"><a href="#">Smartphones</a></div>
										<div class="trends_info clearfix">
											<div class="trends_name"><a href="product.html">DJI Phantom 3...</a></div>
											<div class="trends_price">$379</div>
										</div>
									</div>
									<ul class="trends_marks">
										<li class="trends_mark trends_discount">-25%</li>
										<li class="trends_mark trends_new">new</li>
									</ul>
									<div class="trends_fav"><i class="fas fa-heart"></i></div>
								</div>
							</div>

							<!-- Trends Slider Item -->
							<div class="owl-item">
								<div class="trends_item is_new">
									<div class="trends_image d-flex flex-column align-items-center justify-content-center"><img src="images/trends_1.jpg" alt=""></div>
									<div class="trends_content">
										<div class="trends_category"><a href="#">Smartphones</a></div>
										<div class="trends_info clearfix">
											<div class="trends_name"><a href="product.html">Jump White</a></div>
											<div class="trends_price">$379</div>
										</div>
									</div>
									<ul class="trends_marks">
										<li class="trends_mark trends_discount">-25%</li>
										<li class="trends_mark trends_new">new</li>
									</ul>
									<div class="trends_fav"><i class="fas fa-heart"></i></div>
								</div>
							</div>

							<!-- Trends Slider Item -->
							<div class="owl-item">
								<div class="trends_item">
									<div class="trends_image d-flex flex-column align-items-center justify-content-center"><img src="{% static 'images/trends_2.jpg' %}" alt=""></div>
									<div class="trends_content">
										<div class="trends_category"><a href="#">Smartphones</a></div>
										<div class="trends_info clearfix">
											<div class="trends_name"><a href="product.html">Jump White</a></div>
											<div class="trends_price">$379</div>
										</div>
									</div>
									<ul class="trends_marks">
										<li class="trends_mark trends_discount">-25%</li>
										<li class="trends_mark trends_new">new</li>
									</ul>
									<div class="trends_fav"><i class="fas fa-heart"></i></div>
								</div>
							</div>

							<!-- Trends Slider Item -->
							<div class="owl-item">
								<div class="trends_item is_new">
									<div class="trends_image d-flex flex-column align-items-center justify-content-center"><img src="images/trends_3.jpg" alt=""></div>
									<div class="trends_content">
										<div class="trends_category"><a href="#">Smartphones</a></div>
										<div class="trends_info clearfix">
											<div class="trends_name"><a href="product.html">Jump White</a></div>
											<div class="trends_price">$379</div>
										</div>
									</div>
									<ul class="trends_marks">
										<li class="trends_mark trends_discount">-25%</li>
										<li class="trends_mark trends_new">new</li>
									</ul>
									<div class="trends_fav"><i class="fas fa-heart"></i></div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	{% endblock %}

	{% block newsletter %}
	<!-- Newsletter -->

	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
						<div class="newsletter_title_container">
							<div class="newsletter_icon"><img src="{% static 'images/send.png' %}" alt=""></div>
							<div class="newsletter_title">Sign up for Ziramba Newsletter</div>
							<div class="newsletter_text"><p>...and receive 20% coupon for first shopping.</p></div>
						</div>
						<div class="newsletter_content clearfix">
							<form action="#" class="newsletter_form">
								<input type="email" class="newsletter_input" required="required" placeholder="Enter your email address">
								<button class="newsletter_button">Subscribe</button>
							</form>
							<div class="newsletter_unsubscribe_link"><a href="#">unsubscribe</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}