<!--product item -->
<div class="product_item is_new">
	<div class="product_border"></div>
		{% if product.get_image_url %}
	<div class = "product_image d-flex flex-column align-items-center justify-content-center">
		<a href="{{product.get_absolute_url}}"><img src="{{product.get_image_url}}" alt="..." class="img-responsive"></a>
	</div>
	{% endif %}
	 <div class="product_content">
		<div class="product_price"><span>{{product.variation_set.first.price}}</span></div>
		<div class="product_name">
			<div><h3><a href="{{product.get_absolute_url}}" tabindex="0">{{product.title}}</a></h3>
			</div>
		</div>
		
	</div>
	<div class="product_fav"><i class="fas fa-heart"></i></div>
			<ul class="product_marks">
				<li class="product_mark product_discount">-25%</li>
				<li class="product_mark product_new">new</li>
			</ul>

</div>