{% extends "email/base.html" %}

{% load custom_filters %}

{% block content %}

{% if mobile_money_sent %}

<p>
  Dear {{data.sender_names}}  <br />
  Your
  {% if data.billtype == "1" %}
  Electricity
  {% else %}
  Water
  {% endif %}
  payment of
  <!-- {{data.display_amount_received }}  -->
  {{data.amount_received }}
  for account {{data.referencenumber}} was successfully completed.
  {% if data.billtype == "1" %}

  <br/>
  Transaction ID: {{data.get_invoice}}.
  {% endif %}

<!-- Thank you for using useremit.com -->
</p>
<p> Login to <a href='{{BASE_URL}}'>{{APP_NAME}}</a> to see your transaction history. </p>

{% endif %}

{% endblock %}
