{% extends "email/base.html" %}

{% block content %}

<p>Hello</p>

<p>You recently attempted to recover your login details! </p>

<p>If it was not you, please ignore this email or report this matter to us. </p>


<p>Click <a href="{{BASE_URL}}{% url 'recoverpasswordconfirm'%}?uid={{uidb64}}&token={{tokenkey}}">here</a> to start the process of recovering your login details </p>


If you cannot click on the link above, you can copy it ({{BASE_URL}}{% url 'recoverpasswordconfirm'%}?uid={{uidb64}}&token={{tokenkey}}) into your browser address bar

</p>
{% endblock %}