{% load staticfiles %}
<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 footer_col">
					<div class="footer_column footer_contact">
						<div class="logo_container">
							<!--<div class="logo"><a href="/">Ziramba</a></div> -->
						</div>
						<div class="footer_title">Got Question? Call Us 24/7</div>
						<div class="footer_phone">+1 9143549875</div>
						<div class="footer_contact_text">
							<p>Unicalo House, Plot 11 Archer Road,</p>
							<p>Kololo, Kampala- Uganda.</p>
						</div>
						
					</div>
				</div>

				<div class="col-lg-2 offset-lg-2">
					<div class="footer_column">
						<div class="footer_title">Find it Fast</div>
						<ul class="footer_list">
							<li><a href="{% url 'const_detail' %}">Construction Materials</a></li>
							<li><a href="{% url 'deco_detail' %}">Home Decor</a></li>
							<li><a href="{% url 'elect_detail' %}">Electronic Appliances</a></li>
							<li><a href="{% url 'art_detail' %}">Art and Decorations</a></li>
						</ul>
						
					</div>
				</div>

				<div class="col-lg-2">
					<div class="footer_column">
						<div class="footer_title">Terms of Use</div>

						<ul class="footer_list">
							<li><a href="">Terms and Conditions</a></li>
							<li><a href="">Privacy Policy</a></li>
							<li><a href="">Return Policy</a></li>
							
						</ul>
						<div class="footer_social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="footer_column">
						<div class="footer_title">Customer Care</div>
						<ul class="footer_list">
							<li><a href="#">My Account</a></li>
							<li><a href="#">Order Tracking</a></li>
							<li><a href="#">FAQs</a></li>
							<li><a href="#">Product Support</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</footer>

	<!-- Copyright -->

	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col">
					
					<div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
						<div class="copyright_content"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with passion <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.ziramba.com" target="_blank">Ziramba Team</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
						<div class="logos ml-sm-auto">
							
							<div class="icon-container">
				              <i class="fab fa-cc-visa" style="color:navy;"></i>
				              <i class="fab fa-cc-stripe" style="color:navy;"></i>
				              <i class="fab fa-cc-amex" style="color:blue;"></i>
				              <i class="fab fa-cc-mastercard" style="color:red;"></i>
				              <i class="fab fa-cc-discover" style="color:orange;"></i>
				            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>