{% load custom_filters %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>

    <title>{{subject}}</title>
  </head>
  <body style="margin-top: 0;margin-left: 0">

<div id="page_1" style="position: relative;overflow: hidden;margin: 46px 0 107px 96px;padding: 0;border: none;width: 720px">


<div style="float:left;margin-bottom:10px;">

<p class="p1 ft1" height="40px" style="padding-left: 28px;text-align: center;">


<img src="{{STATIC_URL}}images/logo_visible.png" height='40px'>

</p>

<p class="p1 ft1" style="font: bold 16px &quot;Courier New&quot;;line-height: 15px;text-align: center;padding-left: 17px;margin-top: 0;margin-bottom: 0">Redcore Interactive</p>

<p class="p1 ft1" style="font: normal 13px &quot;Courier New&quot;;line-height: 15px;text-align: center;padding-left: 17px;margin-top: 0;margin-bottom: 0">3rd Floor, Guardian Building</p>

<p class="p1 ft1" style="font: normal 13px &quot;Courier New&quot;;line-height: 15px;text-align: center;padding-left: 17px;margin-top: 0;margin-bottom: 0">67A, Spring Road</p>

<p class="p1 ft1" style="font: normal 13px &quot;Courier New&quot;;line-height: 15px;text-align: center;padding-left: 17px;margin-top: 0;margin-bottom: 0">Bugolobi, Kampala</p>

<p class="p1 ft1" style="font: normal 13px &quot;Courier New&quot;;line-height: 15px;text-align: center;padding-left: 17px;margin-top: 0;margin-bottom: 0">Uganda</p>

</div>

<!--
<p class="p1 ft1" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;padding-left: 72px;margin-top: 7px;margin-bottom: 0">3rd Floor, Guardian Building</p>

<p class="p1 ft1" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;padding-left: 46px;margin-top: 4px;margin-bottom: 0">Plot 67A, Spring Road</p>

<p class="p1 ft1" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;padding-left: 46px;margin-top: 4px;margin-bottom: 0">Bugolobi , Kampala</p>
<p class="p1 ft1" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;padding-left: 46px;margin-top: 4px;margin-bottom: 0">Uganda</p>
-->

<!-- <p class="p4 ft2" style="clear:both;font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 22px;margin-bottom: 0">Today’s Date: {% now "F j, o" %}</p> -->
<p class="p4 ft2" style="clear:both;font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 22px;margin-bottom: 0">Transaction Date: {{ data.started_on|date:"m-d-Y"}}</p>


<!--
<p class="p5 ft3" style="font: 13px &quot;Courier New&quot;;line-height: 15px;text-align: left;padding-left: 12px;padding-right: 645px;margin-top: 16px;margin-bottom: 0;text-indent: -11px">SENDER:<br /> </p>
-->
<p class="p7 ft2" style="font: bold 13px &quot;Courier New&quot;;line-height: 15px;text-align: left;margin-top: 13px;margin-bottom: 0">SENDER:</p>
<p class="p6 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;padding-left: 12px;padding-right: 561px;margin-top: 0;margin-bottom: 0">{{data.sender_names}}</p>

<p class="p6 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;padding-left: 12px;padding-right: 561px;margin-top: 0;margin-bottom: 0">{{data.sender_address}} <nobr>{{data.sender_number}}</nobr></p>


<p class="p7 ft2" style="font: bold 13px &quot;Courier New&quot;;line-height: 15px;text-align: left;margin-top: 13px;margin-bottom: 0">RECIPIENT:</p>
<!--
<p class="p8 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;padding-left: 12px;margin-top: 0;margin-bottom: 0">Carlos Gomez</p>
<p class="p8 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;padding-left: 12px;margin-top: 0;margin-bottom: 0">123 Calle XXX</p>
-->
<p class="p8 ft4" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;padding-left: 12px;margin-top: 0;margin-bottom: 0">{{data.recipient_names}}</p>
<p class="p8 ft4" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;padding-left: 12px;margin-top: 0;margin-bottom: 0">{{data.recipient_number}}</p>
<p class="p8 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;padding-left: 12px;margin-top: 0;margin-bottom: 0">{{data.recipient_country}}</p>

<p class="p7 ft2" style="font: bold 13px &quot;Courier New&quot;;line-height: 15px;text-align: left;margin-top: 13px;margin-bottom: 0">Reference Number:</p>
<p class="p8 ft4" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;padding-left: 12px;margin-top: 0;margin-bottom: 0">{{data.referencenumber}}</p>










<!--
<p class="p8 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;padding-left: 12px;margin-top: 0;margin-bottom: 0">ABC Company</p>
<p class="p8 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;padding-left: 12px;margin-top: 0;margin-bottom: 0">65 Avenida YYY</p>
<p class="p8 ft5" style="font: 13px &quot;Courier New&quot;;line-height: 12px;text-align: left;padding-left: 12px;margin-top: 0;margin-bottom: 0">Mexico City</p>
<p class="p8 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;padding-left: 12px;margin-top: 0;margin-bottom: 0">Mexico</p>
-->
<p class="p4 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 22px;margin-bottom: 0">Confirmation Code: {{data.get_invoice}}</p>


<table cellpadding="0" cellspacing="0" class="t0" style="width: 240px;margin-top: 15px;font: 11px &quot;Courier New&quot;">



<tr><td colspan="2" class="tr0 td0" style="padding: 0;margin: 0;width: 118px;vertical-align: bottom;height: 25px"><p class="p10 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap">Date Available</p></td>
	<td class="tr0 td1" style="padding: 0;margin: 0;width: 28px;vertical-align: bottom;height: 25px"><p class="p10 ft6" style="font: 1px &quot;Courier New&quot;;line-height: 1px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap"> </p></td>
	<td colspan="2" class="tr0 td2" style="padding: 0;margin: 0;width: 94px;vertical-align: bottom;height: 25px">
	<p class="p11 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: right;margin-top: 0;margin-bottom: 0;white-space: nowrap">{% now "F j, o" %}</p></td>
</tr>




<tr><td class="tr5 td3" style="padding: 0;margin: 0;width: 58px;vertical-align: bottom;height: 12px"><p class="p10 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap">Bill Amount Sent:</p></td>
	<td class="tr5 td4" style="padding: 0;margin: 0;width: 60px;vertical-align: bottom;height: 12px"><p class="p10 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap"></p></td>
	<td class="tr5 td1" style="padding: 0;margin: 0;width: 28px;vertical-align: bottom;height: 12px"><p class="p10 ft6" style="font: 1px &quot;Courier New&quot;;line-height: 1px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap"> </p></td>
	<td colspan="2" class="tr5 td2" style="padding: 0;margin: 0;width: 94px;vertical-align: bottom;height: 34px"><p class="p11 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: right;margin-top: 0;margin-bottom: 0;white-space: nowrap">
		{{data.amount_sent | exchange }}
		<!-- {{data.actual_amount_received | exchange }} -->
	</p></td>
</tr>



<tr ><td class="tr5 td3" style="border-bottom: #000 1px solid;padding: 0;margin: 0;width: 58px;vertical-align: bottom;height: 12px"><p class="p10 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap">Transfer Fees:</p></td>

	<td class="tr5 td4" style="border-bottom: #000 1px solid;padding: 0;margin: 0;width: 60px;vertical-align: bottom;height: 12px"><p class="p10 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap"></p></td>
	<td class="tr5 td1" style="border-bottom: #000 1px solid;padding: 0;margin: 0;width: 28px;vertical-align: bottom;height: 12px"><p class="p10 ft6" style="font: 1px &quot;Courier New&quot;;line-height: 1px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap"> </p></td>
	<td colspan="2" class="tr5 td2" style="border-bottom: #000 1px solid;padding: 0;margin: 0;width: 94px;vertical-align: bottom;height: 12px">
		<p class="p11 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: right;margin-top: 0;margin-bottom: 0;white-space: nowrap">
		{{data.our_charge | exchange }}
		</p>
	</td>
</tr>



<tr><td class="tr4 td3" style="padding: 0;margin: 0;width: 58px;vertical-align: bottom;height: 17px"><p class="p10 ft2" style="font: bold 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 0;margin-right:10px;margin-bottom: 0;white-space: nowrap">Total:</p>  </td>
	<td colspan="2" class="tr4 td14" style="padding: 0;margin: 0;width: 88px;vertical-align: bottom;height: 17px"><p class="p10 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap"></p></td>
	<td colspan="2" class="tr4 td2" style="padding: 0;margin: 0;width: 94px;vertical-align: bottom;height: 17px"><p class="p11 ft2" style="font:bold 13px &quot;Courier New&quot;;line-height: 18px;text-align: right;margin-top: 0;margin-bottom: 0;white-space: nowrap">
		{{data.total_charge | exchange}}
	</p></td>
</tr>


<tr><td class="tr5 td3" style="padding: 0;margin: 0;width: 58px;vertical-align: bottom;height: 34px"><p class="p10 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap">Exchange Rate:</p></td>

	<td class="tr5 td4" style="padding: 0;margin: 0;width: 60px;vertical-align: bottom;height: 34px"><p class="p10 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap"></p></td>

	<td colspan="3" class="tr5 td11" style="padding: 0;margin: 0;width: 122px;vertical-align: bottom;height: 34px"><p class="p11 ft10" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: right;margin-top: 0;margin-bottom: 0;white-space: nowrap">
	1 USD = {{ data.exchange_rate }}
	{%if data.recipient_country == 'UGANDA' %}
	UGX
	{% elif data.recipient_country == 'KENYA'%}
	KES
	{% endif %}


	</p></td>

</tr>

<tr><td class="tr5 td3" style="padding: 0;margin: 0;width: 58px;vertical-align: bottom;height: 34px"><p class="p10 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap">Bill Amount Paid:</p></td>
	<td class="tr5 td4" style="padding: 0;margin: 0;width: 60px;vertical-align: bottom;height: 34px"><p class="p10 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap"></p></td>
	<td class="tr5 td1" style="padding: 0;margin: 0;width: 28px;vertical-align: bottom;height: 34px"><p class="p10 ft6" style="font: 1px &quot;Courier New&quot;;line-height: 1px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap"> </p></td>
	<td colspan="2" class="tr5 td2" style="padding: 0;margin: 0;width: 94px;vertical-align: bottom;height: 34px"><p class="p11 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: right;margin-top: 0;margin-bottom: 0;white-space: nowrap">
	<!-- {{data.display_amount_received}} -->
		{%if data.recipient_country == 'UGANDA' %}
		UGX
		{% elif data.recipient_country == 'KENYA'%}
		KES
		{% endif %}

	<!-- {{data.amount_received}} -->
  <!-- {{data.amount_received | currency}} -->
	<!-- {{data.display_amount_received}} -->
	{{data.amount_received | currency }}
</p></td>
</tr>

<tr ><td class="tr5 td3" style="border-bottom: #000 1px solid;padding: 0;margin: 0;width: 58px;vertical-align: bottom;height: 12px"><p class="p10 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap">Other Fees:</p></td>
	<td class="tr5 td4" style="border-bottom: #000 1px solid;padding: 0;margin: 0;width: 60px;vertical-align: bottom;height: 12px"><p class="p10 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap"></p></td>
	<td class="tr5 td1" style="border-bottom: #000 1px solid;padding: 0;margin: 0;width: 28px;vertical-align: bottom;height: 12px"><p class="p10 ft6" style="font: 1px &quot;Courier New&quot;;line-height: 1px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap"> </p></td>
	<td colspan="2" class="tr5 td2" style="border-bottom: #000 1px solid;padding: 0;margin: 0;width: 94px;vertical-align: bottom;height: 12px"><p class="p11 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: right;margin-top: 0;margin-bottom: 0;white-space: nowrap">{{data.other_fees_local | currency }}</p></td>
</tr>



<tr><td class="tr4 td3" style="padding: 0;margin: 0;width: 58px;vertical-align: bottom;height: 17px"><p class="p10 ft2" style="font: bold 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 0;margin-right:10px;margin-bottom: 0;white-space: nowrap">Total Bill Payment:</p>  </td>
	<td colspan="2" class="tr4 td14" style="padding: 0;margin: 0;width: 88px;vertical-align: bottom;height: 17px"><p class="p10 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 18px;text-align: left;margin-top: 0;margin-bottom: 0;white-space: nowrap"> </p></td>
	<td colspan="2" class="tr4 td2" style="padding: 0;margin: 0;width: 94px;vertical-align: bottom;height: 17px"><p class="p11 ft2" style="font:bold 13px &quot;Courier New&quot;;line-height: 18px;text-align: right;margin-top: 0;margin-bottom: 0;white-space: nowrap">
		<!-- {{data.display_amount_received}} -->
				{%if data.recipient_country == 'UGANDA' %}
				UGX
				{% elif data.recipient_country == 'KENYA'%}
				KES
				{% endif %}
		{{data.amount_received | currency  }}

	</p></td>
</tr></table>

<p class="p14 ft4" style="font: 13px &quot;Courier New&quot;;line-height: 13px;text-align: left;width: 323px;margin-top: 16px;margin-bottom: 0">You have a right to dispute errors in your transaction. If you think there is an error, contact us within 180 days at <nobr>256783877133	</nobr> or <span class="ft13" style="font: 13px &quot;Courier New&quot;;text-decoration: underline;line-height: 13px">{{BASE_URL}}</span>. You can also contact us for a written explanation of your rights.</p>
<p class="p15 ft2" style="font: 13px &quot;Courier New&quot;;line-height: 13px;text-align: left;width: 323px;margin-top: 20px;margin-bottom: 0">You can cancel for a full refund within 30 minutes of payment, unless the funds have been picked up or deposited.</p>



</div>



  </body>
</html>
